* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
}
html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

}
.leftImg {
    height: 100%;
    width: 70%;
    background-image: url(../assets/sad.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.form-login {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-login h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #000; 
}

.form-login .formInp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1rem;
    gap: 10px;
}
.formInp h4 {
    font-size: 1rem;
    margin-bottom: 0.2rem;
    color: #000;
}


.formInp input{
    width: 100%;
    height: 40px;
    border: 1px solid #555;
    padding: 0 20px;
    border-radius: 5px;
}

.formInp span {
    font-size: 0.8rem;
    color: #000;
}
.formInp span a {
    text-decoration: none;
    color: green;
    font-size: 0.9rem;
    font-weight: bold;
}

.formInp span a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition:.5s;


}

.formInp span a:hover::after {
    width: 100%;

}

.formInp span a:hover {
    color: red;
    transition: .5s;
}


.formInp input::placeholder {
    color: #555;
}

.formInp input:focus {
    transition: .8s;
    box-shadow: 0 0 5px red;
    border: 1px solid red;
    border-radius: 5px;
    outline: 0;
}

.formInp button {
    width: 17.5vw;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.formInp button:hover {
    transition: .8s;
    background-color: green;
    color: #fff;
    border: 1px solid #000;

}

.loading-div {
    width: 50px;
    margin: auto;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }


