@font-face {
    font-family: 'Grafite';
    src: url(../assets/fonts/DOCALLISME\ ON\ STREET.ttf);
}
* {
    scroll-behavior: smooth;
}
:target {
    scroll-margin-top: 100px;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.container {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;

}

.container .header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    position: fixed;
    z-index: 2;
}
.header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    font-family: 'Grafite';
    font-size: 50px;
    letter-spacing: 8px;
    margin: 0;
    color: #000;
}
.header a {
    text-decoration: none;
    color: #000;
}

.header .nav {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 100%;
}

.nav ul li {
    color: black;
    font-size: 18px; 
    font-weight: 700;
    cursor: pointer;
}

.nav ul a {
    text-decoration: none;
    color: black;
}
.nav ul a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition:.5s;
}

.nav ul a:hover::after {
    width: 100%;
}

.header .login {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid #333;
    padding: 10px;
    color: black;
    transition: .8s;
}
.login a:hover {
    background-color: #333;
    color: #fff;
    
    cursor: pointer;
}

.container .conteudo {
    height: 100px;
    width: 100%;
}

.container .banner {
    width: 100%;
    height: 517px;
    background-color: aqua;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.banner div p {
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;

    text-align: center;
    font-weight: 500;
}


.container .sobre {
    height: 75%;
    width: 100%;
    margin: auto;
    background-color: white;
    display: flex;
}


.sobre .left-img {
    height: 520px;
    width: 40%;
    background-image: url(../assets/imgs/big.webp);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre .right-cont {
    height: 520px;
    width: 60%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.right-cont h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.right-cont p {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.8px;
    margin: 0;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 40px;
    text-align: justify;
}

.container .pilar {
    height: 90vh;
    width: 96%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}

.pilar h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    color: #000;
    padding: 10px;
    margin-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-pilar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}


.card-pilar .pilares {
    height: 360px;
    width: 25%;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 2px solid #000;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    color: black;
    transition: 1s;
}

.pilares:hover {
    transform: scale(1.05);
    
    background-color: #000;
    color: #fff;
}
.pilares h2 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    padding: 10px;
    margin-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pilares p {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    padding: 0 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
}
.container .galeria {
    height: 170vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f1f1f1;
}
.galeria .h1 {
    width: 100%;
    height: 40px;
    margin: 0;
    text-align: center;
    color: black;
    font-size: 30px;
}

.galeria .h1 h1 {
    margin: 0;
}
.galeria .imagem {
    height: 300px;
    width: 40%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition-duration: 1s;
}
.imagem:hover {
    transform: scale(1.1);
}

.footer {
    height: 130px;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}